.header{
  background-color: #77CAE2;
  opacity:0.7;
}

.jumbotron{
  background-color: #77CAE2;
  opacity:0.7;
  color:#000;
}

.footer{
  background-color: #77CAE2;
  opacity:0.7;
}

.panel-heading{
  background: #77CAE2 !important;
  opacity: 0.7;
  color:#fff !important;
}
